#breadcrumbs-finApp{
    margin-top: 5px;
}
/* .ui-datepicker {
    z-index: 9999 !important;
} */
.card-body-dashboard{
    padding: 5px;
}
.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0px 0px;
    transition: width 0.3s ease-in-out;
    white-space: nowrap;
}
 a.facebook {
    background: #3b5998 !important;
}
 a.twitter {
    background: #55acee;
}
 a.instagram {
    background: #125688;
}
 a.pinterest {
    background: #cb2027;
}
 a.linkedin {
    background: #007bb5;
}
 a.vk {
    background: #4D76A1;
}

.contact-social {
    margin-top: 5px;
    float: left;
}
.contact-social ul {
    margin: 0;
    padding: 0;
}
.contact-social ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.contact-social ul li a {
    border: 1px solid #373737;
    color: #a0a0a0;
}
.contact-social ul li a {
    border: 1px solid #dfdfdf;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 15px;
}
.contact-item {
    margin-bottom: 10px;
    display: block;
    float: left;
    width: 100%;
}
.contact-item .contact-icon {
    max-width: 5px;
    padding-right: 0;
    text-align: center;
    font-size: 15px;
    color: #444;
}

#loader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	background: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center
}
 #loader .loading-icon {
	width: 300px;
	height: auto;
	animation: loadingAnimation 1s infinite
} 
@keyframes loadingAnimation {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}
.logo-finapp{
    font-size:65pt; font-weight: bold
  }
  .letter{
    font-size:65pt; font-weight: bold
    }
  .card-app{
    border: solid 5px rgb(51, 153, 90)
  }
  .login-logo{
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: 0px;
    text-align: center;
    border: 5px solid #dee2e6;
    margin-bottom: 10px;
  }
  @media only screen and (max-width: 600px) {
    .logo-finapp {
      font-size:45pt; font-weight: bold
    }
    .letter{
      font-size:45pt; font-weight: bold
    }
    .card-body{
      padding: 10px;
    }
  }
  @media only screen and (max-width: 500px) {
    .logo-finapp {
      font-size:35pt; font-weight: bold
    }
    .letter{
      font-size:35pt; font-weight: bold
    }
    .card-body{
      padding: 5px;
    }
  }
  @media only screen and (max-width: 450px) {
    .text-remember{
      font-size: 12pt;
    }
    .table.dataTable {
      font-size: 9.5pt;
    }
  }
  @media only screen and (max-width: 350px) {
    .text-remember{
      font-size: 10pt;
    }
    #button-login{
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
    }
    .table.dataTable {
      font-size: 8pt;
    }
    .letter{
      font-size:30pt; font-weight: bold
    }
  }
  @media only screen and (max-width: 300px) {
    .text-remember{
      font-size: 7pt;
    }
    .table.dataTable {
      font-size: 8pt;
    }
    .letter{
      font-size:25pt; font-weight: bold
    }
  }


.letter:nth-child(1) {
color: #4285f4;
}
.letter:nth-child(2) {
color: #ea4335;
}
.letter:nth-child(3) {
color: #fbbc05;
}
.letter:nth-child(4) {
color: #4285f4;
}
.letter:nth-child(5) {
color: #34a853;
}
.letter:nth-child(6) {
color: #ea4335;
}

label {
    display: inline-block;
    margin-bottom: 0.1rem;
}